FOUNDRY_PROJECT_ENDPOINT=
FOUNDRY_BASE_MODEL=
FOUNDRY_BASELINE_DEPLOYMENT=
FOUNDRY_GRADER_MODEL=
FOUNDRY_GRADER_DEPLOYMENT=
FOUNDRY_COUNTDOWN_MODEL_GRADER_DEPLOYMENT=
FOUNDRY_COUNTDOWN_PYTHON_GRADER_DEPLOYMENT=
FOUNDRY_EXISTING_MODEL_GRADER_JOB_ID=
FOUNDRY_EXISTING_PYTHON_GRADER_JOB_ID=
FOUNDRY_RUN_REMOTE_BASELINE=
FOUNDRY_RUN_REMOTE_GRADER_TESTS=
FOUNDRY_RUN_PAID_JOBS=
FOUNDRY_RUN_REMOTE_EVALUATION=
