FOUNDRY_PROJECT_ENDPOINT=
FOUNDRY_BASE_MODEL=
FOUNDRY_MATH_BASELINE_DEPLOYMENT=
FOUNDRY_MATH_FINE_TUNED_DEPLOYMENT=
FOUNDRY_EXISTING_MATH_RFT_JOB_ID=
FOUNDRY_RUN_REMOTE_BASELINE=
FOUNDRY_RUN_PAID_JOBS=
FOUNDRY_RUN_REMOTE_EVALUATION=

